/* general formatting */

* {
    font-family: "Roboto";
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* header */

header {
    display: flex;
    background-color: #1F2937;
    border: 0;
    padding: 24px 42px 16px;    
    box-sizing: border-box;
    align-items: center;
    line-height: 1;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .site-name {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    line-height: 1;
}

header .page-links {
    display: flex;
    margin-left: auto;
    gap: 12px;
    align-items: center;
    gap: 12px;
}

header .page-links a {
    font-size: 18px;
    color: #E5E7EB;
    background-color: inherit;
    line-height: 1;
    text-decoration: none;
}

/* section one begins now */

.section-one {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center stretch;
    align-content: space-around;
    justify-content: center;
    gap: 48px;
    padding:64px 48px;
    flex-wrap: wrap;
}

.section-one h1 {
    font-size: 48px;
    font-weight: 900;
}

.s-one-content {
    flex-direction: column;
}

.graphic {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid white;
    max-width: 360px;
    flex-shrink: 0;
}

.graphic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    flex-shrink: 0;
}

.section-one .button {
    padding-top: 16px;
    margin-top: 24px;
}



.section-one .button a {
    display: inline-block;
    border: 1 px #3882F6;
    background-color: #3882F6;
    padding: 8px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: background-color 0.15s ease;
    border: 2px solid #F9FAF8
}

.section-one .button a:hover {
  background-color: #6e8ab0; 
  color: white;
  border-color: #1F2937;
  border: 2px solid #F9FAF8
}

/* section two */

.section-two {
    display: flex;
    background-color: #F9FAF8;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    padding-bottom: 36px;
}

.section-two h1 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.section-two .blocks {
    display: flex;
    justify-items: center;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    align-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}

.section-two .box-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
}

.section-two .box-one,
.section-two .box-two,
.section-two .box-three,
.section-two .box-four {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two .box-group div:last-child {
  margin-top: 12px;
  text-align: center;
}

/* section three */


.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding:64px 48px;  

}

.section-three .quote {
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    display: block;
    
    text-align: left;
    font-style: italic;
}

.section-three .attribute {
    display: block;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    justify-content: end;
    margin-top: 12px;
}

.section-three .quote,
.section-three .attribute {
  width: min(90%, 720px);
  margin-left: auto;
  margin-right: auto;
}

/* section four */

.section-four {
    background-color:#F9FAF8;
    display: flex;
    justify-content: center;
    padding: 48px 0;
}

.section-four .action {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    padding-left: 18px;
    padding-right: 18px;
}

.section-four .action .button-two a.cta,
.section-four .action .button-two a.cta:link,
.section-four .action .button-two a.cta:visited{
  display: inline-block;
  padding: 10px 16px;
  background: #60A5FA;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  text-decoration: none;
}

.section-four .action .button-two a.cta:hover,
.section-four .action .button-two a.cta:focus{
  background: #2563EB;
  color: #F9FAF8;
}


/* footer */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: x-small;
    text-align: center;
    padding: 8px 0;
}

